# Data files
*.rds
*.csv
*.tsv
*.xlsx

# Keep input data folder placeholder without data
scfv_extraction_output/*
!scfv_extraction_output/.gitkeep

# Folders with results and temp files
r_output/
scfv_extraction_output/
versions/
TRASH/
data/

# RStudio files
.Rproj.user/
.Rhistory
.RData
